/* page3.css */

body {
    margin: 0;
    padding: 0;
    font-family: "Silkscreen", sans-serif; /* Agregando la fuente Silkscreen */
    color: white;
    background: url('bg5.gif') ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Alineación vertical */
}

#text-center {
    text-align: center;
    margin-bottom: 15px; /* Espacio entre el texto y el botón */
}

button {
    margin-top: 15px; /* Espacio arriba del botón */
}
